@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 800px;
  padding: 0 20px;
  margin: 50px auto;
}

td,
th {
  padding: 3px 5px;
  margin: 0;
  border-bottom: 1px solid #888;
  border-collapse: collapse;
  border-spacing: 0;
}
